.projects-heading {
  font-size: 2rem;
  font-weight: 500;
  color: #607d8b;
}
.main-div {
  transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 0.8s ease;
  height: 100%;
}

.heading-div {
  margin-top: 20px;
  margin-left: 30px;
}

@media screen and (max-width: 599px) {
  .main-div {
    transition: none;
  }
}
