.main-div {
  position: relative;
  height: 100%;
  width: 100%;
  background-image: url("../../assets/images/bg1.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
}

.resume {
  margin-top: 20px;
}

.resume-heading {
  font-size: 2rem;
  font-weight: 500;
  color: #607d8b;
  margin-bottom: 20px;
}

.example-ripple-checkbox {
  margin: 6px 12px 6px 0;
}

.profile-pic {
  border-radius: 50%;
  height: auto;
  width: 150px;
}
.main-heading {
  color: #ff4081;
}
.sub-heading {
  color: #607d8b;
  font-weight: 600;
}
.profile-div {
  margin-top: 10px;
}

h2 {
  text-align: center;
  margin: 0 0 0;
}
h1 {
  text-align: center;
  margin: 0 0 0;
}
h4 {
  text-align: center;
  margin: 0 0 0;
}
h3 {
  text-align: center;
  margin: 0 0 0;
}
h6 {
  text-align: center;
  margin: 0 0 0;
}

p {
  margin: 0 0 0;
  text-align: center;
}

.wrapper {
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 50px;
}

@media screen and (max-width: 599px) {
  p {
    font-size: 10px;
  }
}
